<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HashTag.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
				<key>dateExpires</key>
				<string>23/09/1445 AH</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AEOTPTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AlignedCollectionViewFlowLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CDAlertView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CHIPageControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.13</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>5.15.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>5.15.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ImageSlideshow.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.9.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Indicate.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LanguageManager_iOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>QCropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>5.14.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>VerticalCardSwiper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>iOSDropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>netfox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.21.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A4E6CBB2DFCC0C64C7C9D10F428F1D1607F48342</string>
						<key>dateExpires</key>
						<string>23/09/1445 AH</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>youtube_ios_player_helper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D9Y77N8AZ9</string>
						<key>name</key>
						<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.4</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>D9Y77N8AZ9.com.trenddc.hashksa</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>D9Y77N8AZ9</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array/>
			</dict>
			<key>name</key>
			<string>HashTag.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>aa8ef413-6809-40e5-9694-d0424fb58d13</string>
				<key>dateExpires</key>
				<string>23/09/1445 AH</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.trenddc.hashksa</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D9Y77N8AZ9</string>
				<key>name</key>
				<string>DIGITAL TREND COMPANY FOR DEVELOPMENT AND COMMERCIAL INVESTMENT</string>
			</dict>
			<key>versionNumber</key>
			<string>2.6.1</string>
		</dict>
	</array>
</dict>
</plist>
