<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.trenddc.hashksa</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>HashTag</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb3124290001202236</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>HashTag</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.220332346590-o0va08aj5vgturvcn5jb8vkhp9k5gu52</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>HashTag</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitter-3YgCnJG3HzSwzmFgmQa8snsIz</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>3124290001202236</string>
	<key>FacebookDisplayName</key>
	<string>iOSAppTemplates</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<key>UIAppFonts</key>
		<array>
			<string>din-next-lt-w23-regular.ttf</string>
			<string>din-next-lt-w23-medium.ttf</string>
			<string>din-next-lt-w23-light.ttf</string>
			<string>din-next-lt-w23-heavy.ttf</string>
			<string>din-next-lt-w23-bold.ttf</string>
		</array>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
